* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #fff;
}

body {
    width: 100vw;
    height: 100vh;
    background: #081b29;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-center {
    position: relative;
    width: 500px;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #ffffff;
    box-shadow: 0 0 50px 0 #00a6bc; 
    border-radius: 5%;
}

.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h2 {
    font-size: 35px;
}

input[type=email] {
    border: none;
    outline: none;
    background: none;
    width: 260px;
    margin-top: 20px; /* Reducido de 40px a 20px */
    padding-right: 10px;
    font-size: 17px; 
    color: #0ef;
    padding-bottom: 10px;
    border-bottom: 2px solid #eee;
}

button[type=submit] {
    border: none;
    outline: none;
    width: 288px;
    margin-top: 25px;
    padding: 10px 0;
    font-size: 20px;
    border-radius: 40px;
    letter-spacing: 1px;
    cursor: pointer;
    background: linear-gradient(45deg, #0ef, #c800ff);
    color: #fff;
}

div {
    margin-top: 10px; /* Reducido de 30px a 10px */
    letter-spacing: 0.5px;
    font-size: 14px;
}

a {
    color: #0ef;
    text-decoration: none;
}

