* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #fff;
}

body {
    width: 100vw;
    height: 100vh;
    background: #081b29;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 700px;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #ffffff;
    box-shadow: 0 0 50px 0 #00a6bc;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5); 
    
}

h3 {
    font-size: 35px;
    color: white;
    padding: 10px 0;
    text-align: center;
}

form { 

    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


form input {
    border: none;
    outline: none;
    background: none;
    width: 250px;
    margin-top: 20px;
    padding: 10px;
    margin-right: 25px; 
    margin-left: 25px;
    border-bottom: 2px solid rgb(218, 221, 222);
    font-size: 17px;
    color: #0ef;  
    
}

form button{ 

    
    border: none;
    outline: none;
    width: 250px;
    margin-top: 25px;
    padding: 10px 0;
    font-size: 20px;
    border-radius: 40px;
    letter-spacing: 1px;
    cursor: pointer;
    background: linear-gradient(45deg, #0ef, #c800ff);
    color: #fff;


}

.boton {
    
    border: none;
    outline: none;
    width: 250px;
    margin-top: 25px;
    padding: 10px 0;
    font-size: 20px;
    border-radius: 40px;
    letter-spacing: 1px;
    cursor: pointer;
    background: linear-gradient(45deg, #0ef, #c800ff);
    color: #fff;
    
}

#boton_salir:hover {
    background-color: #74aee4;
}
.boton_eliminar {
    background: none;
    border: none;
    color: #e02828; /* Cambia esto al color que desees para el texto */
    cursor: pointer;
}