body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h3 {
    color: #333;
    font-size: 24px;
    padding: 10px 0;
    text-align: center;
}

#boton_salir {
    display: block;
    width: 200px;
    height: 50px;
    margin: 20px auto;
    background-color: #659beb;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

#boton_salir:hover {
    background-color: #74aee4;
}
