<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña</title>
    <link rel="stylesheet" href="../Css/recuperar.css">
</head>

<body>
    <div class="container-center text-center">
        <div class="register-container">
            <h2>Recuperación</h2>
            <input type="email" id="emailR" placeholder="Correo electrónico" required>
            <p id="error-message" style="color: red;"></p>
            <br>
            <button type="submit" id="recuperar_btn">Recuperar Contraseña</button></a>
            <br>
            <div class="banner" ></div>
            <div>
                <a href="../index.html">Volver</a>
            </div>   
        </div>
    </div>

    <script type="module" src="../Services/autentication.js"></script>
</body>
</html>
