<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/Css/styles.css">
</head>
<body>
    <div class="container">
        <h3>BIENVENIDOS</h3>
        <br>
        <button class="boton" id="recuperar">RECUPERAR CONTRASEÑA</button>
        <button class="boton" id="eliminar">ELIMINAR CUENTA</button>
        <button class="boton" id="boton_salir">SALIR</button>
    </div>   
    <script type="module" src="/Services/home.js"></script>
</body>
</html>
