<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/Css/styles_admin.css">
</head>
<body>
    <div class="container">
        <h3>BIENVENIDO ADMINISTRADOR</h3>
        <br>
        <form id="crear_usuario_form">
            <input type="email" id="email" placeholder="Correo electrónico">
            <input type="password" id="password" placeholder="Contraseña">
            <input type="text" id="cedula" placeholder="Cédula">
            <input type="date" id="fechaNacimiento">
            <input type="text" id="direccion" placeholder="Dirección">
            <input type="text" id="telefono" placeholder="Teléfono">
            
        </form>
        <button class="boton" type="submit" id="crear_usuario_boton">Crear usuario</button>
        <button class="boton" type="submit" id="mostrar_usuarios">Mostrar Usuarios</button>
        <button class="boton" id="boton_salir">Salir</button> 
        <button class="boton_eliminar" type="submit" id="eliminar_cuenta">Eliminar Cuenta</button>
    </div>   
    <script type="module" src="/Services/home_admin.js"></script>
</body>
</html>
