<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../Css/styles.css">
</head>
<body>
    <div class="container">
        <h3>Bienvenido</h3>
        <br>
        <button class="boton_r" id="recuperar">Recuperar Contraseña</button>
        <button class="boton_e" id="eliminar">Eliminar Cuenta</button>
        <button class="boton_s" id="boton_salir">Salir</button>
    </div>   
    <script type="module" src="/Services/home.js"></script>
</body>
</html>
