<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <link rel="stylesheet" href="/Css/style3.css"> 
</head>

<body>
    <div class="wrapper">
        <div class="loginbox">
            <h2 class="title">Registrate</h2>
            <div class="row">
                <div class="column">
                    <input class="input" type="text" id="nombre" placeholder="nombre" required>
                    <input class="input" type="text" id="cedula" placeholder="Cedula" required>
                    <input class="input" type="date" id="fechaNacimiento" placeholder="Fecha de Nacimiento" required>
                    <input class="input" type="email" id="emailR" placeholder="Correo electrónico" required>
                    <input class="input" type="password" id="contraseñaR" placeholder="Contraseña" required>
                </div>
                <div class="column">
                    <input class="input" type="text" id="apellido" placeholder="apellido" required>
                    <input class="input" type="text" id="direccion" placeholder="Dirección" required>
                    <input class="input" type="tel" id="telefono" placeholder="Teléfono" required>
                    <input class="input" type="email" id="emailConfirm" placeholder="Confirmar correo electrónico" required>
                    <input class="input" type="password" id="contraseñaConfirm" placeholder="Confirmar contraseña" required>
                </div>
            </div>
            <div id="error-contraseña"></div>
            <div id="error"></div>
            <div id="error-email"></div>
            <br>
            <button class="submit" type="submit" id="btn_register">Registrar</button>
            <br>
            <div class="banner"></div>
            <div class="footer">
                <a class="link" href="../index.html">Volver</a>
            </div>   
        </div>
    </div>
    <script type="text/javascript">
        document.getElementById("btn_register").addEventListener("click", async function (event) {
            var cedula = document.getElementById("cedula").value;
            var nombre = document.getElementById("nombre").value;
            var apellido = document.getElementById("apellido").value;
            var fechaNacimiento = document.getElementById("fechaNacimiento").value;
            var direccion = document.getElementById("direccion").value;
            var telefono = document.getElementById("telefono").value;
            var email = document.getElementById("emailR").value;
            var emailConfirm = document.getElementById("emailConfirm").value;
            var contraseña = document.getElementById("contraseñaR").value;
            var contraseñaConfirm = document.getElementById("contraseñaConfirm").value;
            var errorEmail = "";
            var errorContra = "";
            var errorEmpty = "";
            var errorGeneral = document.getElementById("error");
            var errorCorreo = document.getElementById("error-email");
            var errorPassw = document.getElementById("error-contraseña");

            errorGeneral.innerHTML = "";
            errorCorreo.innerHTML = "";
            errorPassw.innerHTML = "";

            if (cedula === "" || nombre === "" || apellido === "" || fechaNacimiento === "" || direccion === "" || telefono === "" || email === "" || emailConfirm === "" || contraseña === "" || contraseñaConfirm === "") {
                errorEmpty += "Todos los campos son obligatorios.<br>";
            } else if (email.indexOf("@") === -1) {
                errorEmail += "El correo electrónico no es válido (Use el formato pepito@gmail.com.com)<br>";
            } else if (email !== emailConfirm) {
                errorEmail += "Los correos electrónicos no coinciden.<br>";
            } else if (contraseña !== contraseñaConfirm) {
                errorContra += "Las contraseñas no coinciden.<br>";
            }

            if (errorEmpty !== "" || errorEmail !== "" || errorContra !== "") {
                console.log("comprobando campos");
                if (errorEmpty !== "") {
                    errorGeneral.innerHTML = errorEmpty;
                }
                if (errorEmail !== "") {
                    errorCorreo.innerHTML = errorEmail;
                }
                if (errorContra !== "") {
                    errorPassw.innerHTML = errorContra;
                }
                event.preventDefault();
            } else {
                console.log("Datos Validos");
                window.verificado = true;
            }
        });
    </script>

    <script type="module" src="../Services/register.js"></script>
</body>

</html>
