<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios</title>
    <link rel="stylesheet" href="/Css/usuarios.css">
</head>
<body>
    <div class="container">
        <h3>LISTA DE USUARIOS</h3>
        <br>
        <div id="user_list"></div>
        <a href="/Templates/home_admin.html">Volver</a>
    </div>    
    <script type="module" src="/Services/usuarios.js"></script>
</body>
</html>
